/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee !default;
$text-color: #222831 !default;

$muted-text-color: #393e46 !default;

$primary-color: #0092ca !default;

$link-color: mix(#00adb5, #eaeaea, 40%) !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;

$table-header: #30353e !default;
$table-header-text: #88C0D0 !default;

$default-color: #30353e !default;
$primary-notice-color: #567487 !default;
$success-color: #5f866a !default;
$warning-color: #935248 !default;
$danger-color: #97424a !default;
$info-color: #3f4956 !default;

$border-color: mix(#fff, #393e46, 75%) !default;

$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;

$footer-background-color: $primary-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.author__urls.social-icons .fa,

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .fa {
  color: inherit;
}
