/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #f3f6f6 !default;
$text-color: #40514e !default;

$muted-text-color: #40514e !default;

$primary-color: #11999e !default;
$link-color: #11999e !default;

$table-header: #30353e !default;
$table-header-text: #88C0D0 !default;

$default-color: #30353e !default;
$primary-notice-color: #567487 !default;
$success-color: #5f866a !default;
$warning-color: #935248 !default;
$danger-color: #97424a !default;
$info-color: #3f4956 !default;

$border-color: mix(#fff, #40514e, 75%) !default;

$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;

$footer-background-color: #30e3ca !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.author__urls.social-icons .fa,

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .fa {
  color: inherit;
}
